<!-- Modal -->
<div class="modal fade" id="modalRegistrarUsuario" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
    
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">{{!this.userService.usuarioSeleccionado.id ? 'Nuevo usuario' : 'Actualizar usuario'}}</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
    
            <div class="modal-body">
                
                <div class="card">
                    <div class="card-header">
                        Ingresar información
                    </div>
    
                    <div class="card-body">
                        
                            <form class="form-usuario" #usuarioForm="ngForm" (ngSubmit)="guardandoUsuario(usuarioForm)">
                              
                                <input type="hidden" id="userId" name="userId" class="form-control" [(ngModel)]="this.userService.usuarioSeleccionado.id" >
    
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label for="Nombres">Nombre</label>
                                        <input type="text" class="form-control" id="nombre" name="nombre" placeholder="nombre" [(ngModel)]="this.userService.usuarioSeleccionado.nombre">
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="Apellidos">Apellidos</label>
                                        <input type="text" class="form-control" id="apellido" name="apellido" placeholder="apellidos" [(ngModel)]="this.userService.usuarioSeleccionado.apellido">
                                    </div>
                                </div>

                                <div class="form-row">
                                        <div class="form-group col-md-6">
                                            <label for="tipoDocIdentidad">Tipo de documento</label>
                        
                                            <select class="form-control" id="tipoDocIdentidad" name="tipoDocIdentidad" placeholder="d.ff" [(ngModel)]="this.userService.usuarioSeleccionado.tipoDocumentoIdentidad">
                                                <option *ngFor="let tipodocumento of tiposDocumentoIdentidad" [ngValue]="tipodocumento">{{tipodocumento.nombre}}</option>
                                            </select>
                                        </div>
                    
                                        <div class="form-group col-md-6">
                                            <label for="nroDocumento">Número de documento</label>
                                            <input type="text" class="form-control" id="nroDoc" name="nroDoc" placeholder="número de identidad" [(ngModel)]="this.userService.usuarioSeleccionado.nroDocumento">
                                        </div>
                                </div>
    
                                <div class="form-row">
                                    <button type="submit" class="btn btn-primary" style="margin: 10px">Guardar</button>
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal" style="margin: 10px">Cancelar</button>
                                </div>
                            </form>
                
                    </div>
                </div>
            </div>
          </div>
        </div>
      </div>
    
