<div class="card">
    <div class="card-header">
        <a [routerLink]="['/barber-registry']" class="btn btn-primary" style="margin: 10px">Registrar barbería</a>
        <a [routerLink]="['/barber-find']" class="btn btn-primary">Buscar babería</a>
    </div>
    
    <div class="card-body">
        <blockquote class="blockquote mb-0">
            <p>Barberias</p>
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let barberia of barberias">
                        <th scope="row">{{barberia.id}}</th>
                        <td>{{barberia.nombre}}</td>
                        <td>
                            <button type="button" class="btn btn-primary btn-lg" style="margin: 2px" data-toggle="modal" data-target="#modalVercitas" (click)="showModal(barberia)">Ver citas</button>
                            <a href="#" class="btn btn-primary btn-lg" style="margin: 10px" data-toggle="modal" data-target="#modalEditar" (click)="showModal(barberia)">Editar</a>
                            <button type="button" class="btn btn-danger btn-lg" data-toggle="modal" data-target="#modalEliminar" (click)="showModal(barberia)">Eliminar</button>
                        </td>
                    </tr>
                </tbody>
            </table>

        </blockquote>
    </div>
</div>


<!-- The Modal -->
<div class="modal fade" id="modalEliminar">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Eliminar</h4>
                <button type="button" class="close" data-dismiss="modal">×</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                ¿Está seguro que desea eliminar la información?
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="eliminarBarberia(barberiaSeleccionada.id)">Aceptar</button>
            </div>

        </div>
    </div>
</div>

<app-appointment-list></app-appointment-list>

